.canvas-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
.canvas-item {
	height:100%;
	width:40vw;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table > thead tbody tfoot {
    display: block;
}
.table > tfoot {
    position: sticky;
	background-color: #383838;
    bottom: 0;
    z-index: 1;
}
.invalid-input, input.invalid-input {
	border: 2px solid var(--color-red);
}
.cell, .fixed-width, tfoot {
	border: 1px solid #ddd;
	padding: 8px;
	textAlign: 'left';
}
.fixed-width > p {
	width: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: width 0.3s ease, white-space 0.3s ease;
}
.fixed-width:hover p {
	display: inline;
	width: auto;
	white-space: normal;
	min-width: 150px;
}

button, select {
	margin-right: 10px;
	margin-bottom: 10px;
}
hr {
	margin-bottom: 20px;
	margin-top: 20px;
}
.context-menu {
	position: fixed;
    z-index: 2;
	width: 200px;
	background-color: #383838;
	border-radius: 5px;
	box-sizing: border-box;	
	list-style-type: none;
	padding: 0px;
}

.context-menu li {
	padding: 5px 10px;
}

.context-menu li:hover {
	cursor: pointer;
	background-color: #000000;
	border-radius: 5px;
}
